In [25]:

import pandas as pd
url_dl_static1 = "B_2019.12.16_13.40.04.csv"
url_dl_static2 = "B_2020.01.16_10.43.34.csv"
url_dl_static3 = "B_2020.02.13_13.57.29.csv"
url_dl_static4 = "B_2020.02.14_13.21.26.csv"
url_dl_static5 = "B_2020.02.27_18.39.27.csv"


df_dl_static1 = pd.read_csv(url_dl_static1)
df_dl_static2 = pd.read_csv(url_dl_static2)
df_dl_static3 = pd.read_csv(url_dl_static3)
df_dl_static4 = pd.read_csv(url_dl_static4)
df_dl_static5 = pd.read_csv(url_dl_static5)

dfs = [df_dl_static1, df_dl_static2, df_dl_static3, df_dl_static4, df_dl_static5]
df = pd.concat(dfs)
# sanitize the data that i'll be using and that have some string instead float
df = df[(df.NRxRSRP != '-') & (df.NRxRSRQ != '-')]
df.info()

df_qoe = df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15509 entries, 0 to 5990
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     15509 non-null  object
 1   Longitude     15509 non-null  float64
 2   Latitude      15509 non-null  float64
 3   Speed         15509 non-null  int64
 4   Operatorname  15509 non-null  object
 5   CellID        15509 non-null  int64
 6   NetworkMode   15509 non-null  object
 7   RSRP          15509 non-null  int64
 8   RSRQ          15509 non-null  object
 9   SNR           15509 non-null  float64
 10  CQI           15509 non-null  int64
 11  RSSI          15509 non-null  object
 12  DL_bitrate    15509 non-null  int64
 13  UL_bitrate    15509 non-null  int64
 14  State         15509 non-null  object
 15  PINGAVG       15509 non-null  object
 16  PINGMIN       15509 non-null  object
 17  PINGMAX       15509 non-null  object
 18  PINGSTDEV     15509 non-null  object
 19  PINGLOSS      15509 non-null  object
 20  CELLHEX       15509 non-null  object
 21  NODEHEX       15509 non-null  object
 22  LACHEX        15509 non-null  object
 23  RAWCELLID     15509 non-null  int64
 24  NRxRSRP       15509 non-null  object
 25  NRxRSRQ       15509 non-null  object
dtypes: float64(3), int64(7), object(16)
memory usage: 3.2+ MB

In [10]:
df_qoe.describe()

,Longitude,Latitude,Speed,CellID,RSRP,SNR,CQI,DL_bitrate,UL_bitrate,RAWCELLID
count,15617.000000,15617.000000,15617.0,15617.0,15617.000000,15617.000000,15617.000000,15617.000000,15617.000000,15617.0
mean,-8.394604,51.886200,0.0,11.0,-99.914964,2.789524,10.485561,66655.832490,146.119101,10805003.0
std,0.000047,0.000060,0.0,0.0,2.750734,3.583900,2.085503,77031.047754,109.743434,0.0
min,-8.394656,51.886113,0.0,11.0,-108.000000,-11.000000,1.000000,0.000000,0.000000,10805003.0
25%,-8.394656,51.886144,0.0,11.0,-102.000000,1.000000,9.000000,11156.000000,67.000000,10805003.0
50%,-8.394628,51.886198,0.0,11.0,-100.000000,3.000000,11.000000,29359.000000,141.000000,10805003.0
75%,-8.394564,51.886262,0.0,11.0,-98.000000,5.000000,12.000000,98442.000000,218.000000,10805003.0
max,-8.394545,51.886262,0.0,11.0,-93.000000,15.000000,15.000000,333070.000000,1251.000000,10805003.0

In [11]:
df_qoe.columns

Index(['Timestamp', 'Longitude', 'Latitude', 'Speed', 'Operatorname', 'CellID',
       'NetworkMode', 'RSRP', 'RSRQ', 'SNR', 'CQI', 'RSSI', 'DL_bitrate',
       'UL_bitrate', 'State', 'PINGAVG', 'PINGMIN', 'PINGMAX', 'PINGSTDEV',
       'PINGLOSS', 'CELLHEX', 'NODEHEX', 'LACHEX', 'RAWCELLID', 'NRxRSRP',
       'NRxRSRQ'],
      dtype='object')

In [26]:
import numpy as np
_x = df[['SNR', 'DL_bitrate', 'UL_bitrate', 'NRxRSRP', 'NRxRSRQ']]
_y = df['CQI']
print(_x)
print(_y)

       SNR  DL_bitrate  UL_bitrate NRxRSRP NRxRSRQ
0      1.0          72          20  -106.0   -11.0
1      7.0           0           0  -107.0   -20.0
2      7.0           0           0  -107.0   -20.0
3      7.0           0           0  -107.0   -20.0
4     -7.0           0           0  -105.0   -14.0
...    ...         ...         ...     ...     ...
5986  13.0           0           0  -102.0   -20.0
5987   9.0       84590         378  -102.0   -20.0
5988   9.0      276708         357  -102.0   -20.0
5989   6.0      276724         193  -102.0   -19.0
5990   6.0       40469          43  -102.0   -19.0

[15509 rows x 5 columns]
0       15
1       15
2       15
3       15
4       11
        ..
5986    10
5987    10
5988    10
5989    11
5990    11
Name: CQI, Length: 15509, dtype: int64

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(_x, _y, random_state=30, test_size=0.25)

print(x_train)
# x_test
# y_test.head
model = LinearRegression().fit(x_train,y_train)
print(model.intercept_)
list(zip(_x, model.coef_))

       SNR  DL_bitrate  UL_bitrate NRxRSRP NRxRSRQ
710   12.0           2           2   -99.0    -4.0
2132   4.0       90916         240  -105.0   -15.0
2788  -5.0       14074         252  -100.0   -12.0
117    4.0      203252         215  -104.0   -16.0
2453   4.0         353           8  -102.0   -17.0
...    ...         ...         ...     ...     ...
500    9.0          33           1  -105.0   -19.0
2459   1.0         465          13  -101.0   -18.0
5759   3.0      227284         284  -103.0   -12.0
2382  -4.0        1914          52   -99.0    -9.0
468    1.0       17068         177    -103     -12

[11631 rows x 5 columns]
13.688515042000605

[('SNR', 0.04084420941571139),
 ('DL_bitrate', 1.973396889594983e-06),
 ('UL_bitrate', -0.00026373969927634823),
 ('NRxRSRP', 0.033254125686821),
 ('NRxRSRQ', 2.3251313696237523e-10)]